/* ------About  ---- */
.about {
    grid-column: 1/5;
    margin-top: 3.5rem;
}

.yo {
    padding: 1rem;
    line-height: 1.5rem;
    margin: 1rem;
    padding: 1.5rem;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 4px 4px 5px 0px var(--primary-shadow);
    
}
.about__row {
    display: flex;
    padding: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.about__detail {
    background: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 5px 0px var(--primary-shadow);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.2rem;
    margin: 0.5rem;
    max-width: 18rem;
    min-height: 15rem;
    padding: 1rem;
    position: relative;
}
.about__detail h3 {
    color: #333;
    text-align: initial;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 1rem;
}
.about__detail p {
    margin-top: 0.5rem;
    font-size: 14px;
    max-width: 16rem;
    height: 80%;

}
.about__detail:hover a, 
.about__detail:hover h3, 
.about__detail:hover p,
.yo:hover {
	color: #fff;
    transition: all 600ms ease-in-out;
}
.about__detail:hover,
.yo:hover {
    background-color: #68bcb8;
    transition: all 600ms ease;
}
.about__detail .fa {
    border: 2px solid #68bcb8;
    border-radius: 100%;
    color: #333;
    font-size: 20px;
    height: 3rem;
    line-height: 45px;
    margin-right: 0.5rem;
    padding-left: 0;
    text-align: center;
    width: 3rem;
}
.about__detail:hover .fa {
	color: #000;
	background: #fff;
	border: 1px solid #fff;
	transition: 0.2s 0.2s;
}
.container-certificados {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    justify-content: space-evenly;
}
.certificados {
    margin: 0.5rem;
}
.certificados h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 2.5rem;
}
.img {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    background: #fff;
}
.img:hover {
    transition: all 600ms ease-in-out;
}

@media screen and (max-width: 768px) {
    .about__detail {
        width: 47.7%;
    }
    .certificados {
        width: 47.7%;
    }
}
@media screen and (max-width: 375px) {
    .about__detail {
        width: 100%;
    }
    .certificados {
        width: 95%;
    }
}