/* Variables */
:root {
    --bg-color: #e3e1e1;
    --primary-color: #024252;
    --secondary-color: #969696;
    --third-color: #ffffff;
    --primary-shadow: #C1C1C1;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --warning-color: #df2525;
    --line-height: 1.7rem;
    --transition: 0.3s;
    --oscuro:#2c2c2c;
    --oscuro-1: #3b3b3d;
    --sombraDark: 1px 1px 5px 5px rgba(170, 170, 170, 0.25);
    --sombraLight: 10px 10px 20px rgba(0,0,0, .16);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: rgb(235,232,232);
    background: linear-gradient(90deg, rgba(235,232,232,1) 33%, rgba(233,233,233,1) 67%, rgba(235,232,232,1) 100%);
    font-family: 'Exo 2', sans-serif;
    transition: .3s ease all;
}
body.dark {
    background: var(--oscuro);
}
.titulo{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 2.5rem 0 1rem 0;
}

.dark .titulo,
.dark .header__menu-bar {
    color: var(--third-color);
}
.dark .line {
    background-color: var(--third-color);
}
.line {
    background: #024252;
    display: block;
    grid-column: 1/9;
    height: 1px;
    opacity: 0.2;
    margin: 1rem 0 1rem;
}
.container {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: 'header    header    header'
                         'contenido contenido contenido'
                         'contenido contenido contenido'
                         'footer    footer    footer';
}
