.contenido {
    grid-area: contenido;
}
.contenido {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
}
.contenido__banner {
    background-image: url(../images/dev.png);
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
    grid-column: 1/5;
    height: 65vh;
    margin-top: 2.7rem;
    position: relative;
    text-align: center;
}
.contenido__overlay {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
  }
  .contenido__text-center {
    padding: 7.75rem;
    color: #fff;
    font-size: 75px;
    font-weight: 700;
    position: absolute;
    left: 3rem;
}
  .h3_contenido__text-center {
	padding: .5rem;
    color: #fff;
	font-size: 25px;
    font-weight: 700;
}
@media (min-width: 1270px) {
    .contenido__banner {
        height: 65vh;
    }
    .contenido__text-center {
        padding: 11rem;
        margin: 3rem;
    }
    
  }
  @media (max-width: 991px){
    .contenido__banner {
        height: 50vh;
    }
    .contenido__text-center {
        padding: 15rem;
        margin: 0;
    }
  }
@media screen and (max-width: 768px){
    .contenido__banner {
        height: 45vh;
    }
    .contenido__text-center {
        padding: 12rem;
        margin: 0;
    }
    
}
@media screen and (max-width: 375px) {
    .contenido__banner {
        height: 45vh;
    }
    .contenido__text-center {
        font-size: 60px;
        padding: 4.5rem;
        left: 0;
    }
    
}