.contenido {
    grid-area: contenido;
}
.contenido {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
}
.contenido__banner {
    grid-column: 1/5;
}
.contenido__background {
    position: relative;
    width: 100%;
}
.contenido__overlay {
    background-color: #00000070;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 75px;
    font-weight: 700;
    height: 73vh;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 3.9rem;
    padding-top: 7rem;
    width: 100%;
  }
@media screen and (max-width: 768px){
    .contenido__background {
        height: 35vh;
    }
    .contenido__overlay {
        padding: 2.5rem;
        padding-top: 5.5rem;
        height: 31vh;
    }
}
@media screen and (max-width: 375px) {
    .contenido__background {
        height: 35vh;
    }
    .contenido__overlay {
        font-size: 60px;
        height: 29vh;
        padding: 2.5rem;
    }
}