
/* Modo Oscuro */
.header__switch {
    background: #024252;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    display: flex;
    outline: none;
    position: relative;
    width: 55px;
}
.header__switch span {
    background: none;
    color: #fff;
    display: block;
    height: 25px;
    line-height: 25px;
    padding-left: 0.3rem;
    width: 25px;
}
.header__switch::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 4px 4px 5px 0px var(--primary-shadow);
}
.header__switch.active {
    background: orange;
    color: #000;
}
.header__switch.active::after {
    right: 0;
    left: unset;
}
