.container .header {
    background: #cccccc;
    grid-area: header;
}
.header__navbar {
    align-items: center;
    background-color: #4FADB9;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 2.5rem;
    position: relative;
}
.dark .header__navbar{
    background-color: var(--oscuro-1);
    /* background-color: hsl(174, 100%, 11%); */
}
.header__navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header__navbar .logo {
    width: 50px;
    height: 25px;
    grid-column: 1 / 2;
}
.header__top-contact {
    background: #024252;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    padding: 2.1rem 0rem 0.5rem 1.5rem;
}
.header__menu {
    grid-column: 3 / 12;
    display: flex;
}
.header__menu li {
    list-style: none;
}
.dark .header__menu{
    color: #fff;
}
.header__enlace {
    text-decoration: none;
    cursor: pointer;
    margin-right: 1rem;
}
.header__enlace .active:hover {
    color: #dedede;
}
.header__menu a:hover {
    color: #fff;
}

.header__menu-bar {
    display: none;
}
@media screen and (max-width: 768px) {
    .header__top-contact {
        padding: 2.5rem 0rem 0.5rem 1.5rem;   
    }
    .header__menu-bar {
        display: block;
        grid-column: 12/13;
        font-size: 2em;
        cursor: pointer;
    }
    .header__menu {
        display: grid;
        position: absolute;
        align-items: center;
        width: 100%;
        height: 54vh;
        margin-top: 41.5em;
        background-color: #cccccc;
        transform: translateX(170%);
        transition: all 600ms;
    }
    .header__navbar .menu_toggle {
        transform: translateX(70%);
    }
    .header__menu a:hover {
        color: #fff;
    }
    .header__switch {
        grid-column: 8/9;
    }
}
@media screen and (max-width: 375px) {
    .header__menu {
        margin-top: 29.5em;
    }
    .header__navbar .menu_toggle {
        transform: translateX(35%);
    }
    .header__switch {
        grid-column: 6/7;
    }
    .header__menu-bar {
        grid-column: 11/12;

    }
}